@import 'src/styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .title {
    font-weight: $font-weight-bold;
  }

  .switch {
    background-color: transparent;
    border: none;
    width: fit-content;
    font-size: 1em;

    .fa-moon {
      padding-right: 0.5rem;
    }
  }
}

@media screen and (max-width:767px) {
  .header {
    flex-direction: column;

    .switch {
      margin-top: 1rem;
    }
  }
}
